<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.account.dao.IAccountBalanceDao">
  <resultMap id="BaseResultMap" type="com.wind.account.domain.AccountBalanceDO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ACCOUNT_ID" jdbcType="BIGINT" property="accountId" />
    <result column="PRODUCT_ID" jdbcType="BIGINT" property="productId" />
    <result column="FROZ" jdbcType="BIGINT" property="froz" />
    <result column="BALANCE" jdbcType="BIGINT" property="balance" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACCOUNT_ID, PRODUCT_ID, FROZ, BALANCE, VERSION, REMARK, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_balance
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_account_balance
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wind.account.domain.AccountBalanceDO">
    insert into t_account_balance (ID, ACCOUNT_ID, PRODUCT_ID, 
      FROZ, BALANCE, VERSION, 
      REMARK, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{froz,jdbcType=BIGINT}, #{balance,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wind.account.domain.AccountBalanceDO">
    insert into t_account_balance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="froz != null">
        FROZ,
      </if>
      <if test="balance != null">
        BALANCE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="froz != null">
        #{froz,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wind.account.domain.AccountBalanceDO">
    update t_account_balance
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=BIGINT},
      </if>
      <if test="froz != null">
        FROZ = #{froz,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        BALANCE = #{balance,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wind.account.domain.AccountBalanceDO">
    update t_account_balance
    set ACCOUNT_ID = #{accountId,jdbcType=BIGINT},
      PRODUCT_ID = #{productId,jdbcType=BIGINT},
      FROZ = #{froz,jdbcType=BIGINT},
      BALANCE = #{balance,jdbcType=BIGINT},
      VERSION = #{version,jdbcType=BIGINT},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateAccountBalance" parameterType="com.wind.account.dto.AccountUpdateDTO">
    update t_account_balance
    set
      BALANCE = BALANCE + #{amtEfct,jdbcType=BIGINT}
    where ID = #{accountId,jdbcType=BIGINT}
    and BALANCE >= - #{amtEfct,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKeyLock" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_account_balance
    where ID = #{id,jdbcType=BIGINT} for update
  </select>

</mapper>